<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="refresh"
      content="20; url=http://192.168.0.16:3003/empty"
    />
    <!-- <link href="css/main.css" rel="stylesheet" /> -->
    <title>메타한컷</title>
  </head>
  <body>
    <div class="photoContainer">
      <div class="slogan">
        <p>인생은 한방 사진은 한컷</p>
      </div>
      <div class="photo">
        <img src="/img/image.jpg" class="image" />
      </div>
      <div class="warn">
        <p>
          사진을 길게 누르시면 저장이 가능합니다.<br />
          개인 정보 보호를 위해 사진은 20초 후에 리셋됩니다.
        </p>
      </div>
    </div>
  </body>
</html>
<style>
  .photoContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
  }
  .slogan {
    font-size: 30px;
    text-align: center;
  }
  .photo {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
  }
  .image {
    width: 100%;
  }
  .warn {
    font-size: 20px;
    text-align: center;
    color: grey;
  }
</style>
