<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <p>힘껏 소리를 지르면 <br />
            촬영이 시작됩니다.</p>
        </div>
        <div class="imgContainer">
            <img src="img/shout-1561223-1322604.png" class="arrow">
        </div>
    </div>
</body>
</html>